@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html,
body,
#carousel,
.carousel-inner,
.item {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

#firstSlide {
	background: url('../images/slider-1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#secondSlide {
	background: url('../images/slider-2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#thirdSlide {
	background: url('../images/slider-3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-indicators li {
	width: 14px;
	height: 14px;
	margin: 3px;
}

.carousel-indicators .active {
	width: 20px;
	height: 20px;
}

.transition .carousel-inner .item {
  transition-property: opacity;
}

.transition .carousel-inner .item,
.transition .carousel-inner .active.left,
.transition .carousel-inner .active.right {
  opacity: 0;
}

.transition .carousel-inner .active,
.transition .carousel-inner .next.left,
.transition .carousel-inner .prev.right {
  opacity: 1;
}

.transition .carousel-inner .next,
.transition .carousel-inner .prev,
.transition .carousel-inner .active.left,
.transition .carousel-inner .active.right {
  transform: translateZ(0);
}